@import "./styles/animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #242424;
  }

  body,
  html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
  }
}

@layer components {
  .heroTitle {
    @apply text-[76px] leading-[78px] tracking-[12px] font-bold;
  }

  .heroHint {
    @apply text-[20px] leading-[20px] tracking-[4px] mb-[16px];
  }

  @screen md {
    .heroTitle {
      @apply text-[120px] leading-[100px] tracking-[16px] font-bold;
    }

    .heroHint {
      @apply mb-[24px];
    }
  }
}
