@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
