@import "./styles/animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #242424;
    --aqua: #64eebc;
    --red: #ff0000;
    --radius: 0.5rem;
  }

  body,
  html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer components {
  .input {
    @apply appearance-none bg-background border-b border-white text-white focus:outline-none pb-[8px];
  }
  .select-menu {
    @apply absolute bg-background py-[24px] lg:py-[16px] w-full lg:w-[241px] lg:right-[16px];
  }

  .select-menu::before {
    @apply content-[''] absolute -top-[15px] right-[14px] border-[8px] border-transparent border-b-background;
  }

  .text-base-custom {
    @apply text-[16px] leading-[16px] tracking-[4px] font-normal;
  }

  .heroTitle {
    @apply text-[76px] w-full lg:w-[480px] xl:w-full leading-[78px] tracking-[12px] font-bold;
  }

  .heroHint {
    @apply text-[20px] leading-[20px] tracking-[4px] mb-[16px];
  }

  @screen md {
    .heroTitle {
      @apply text-[120px] leading-[100px] tracking-[16px] font-bold;
    }

    .heroHint {
      @apply mb-[24px];
    }
  }
}
